<div class="input-group">
  <ng-content select=".input-group-prepend"></ng-content>

  <div class="form-control">
      <div class="tags">
        <ul class="tag-list">
          <li class="placeholder">{{placeholder}}</li>
          <li *ngFor="let item of value, let i = index"
              class="tag-item"
              [ngClass]="{'unavailable': isValueUnavailableClass[i]}">{{item.text}} <i class="fa fa-trash-o tag-remove-button" (click)="removeItem(item)"></i></li>
        </ul>
      </div>
  </div>
  <div class="input-group-append" dropdown placement="bottom right">
    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark dropdown-toggle"
            aria-controls="dropdown-basic">
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem" *ngFor="let item of availableValues" [ngClass]="{'disabled': value.indexOf(item) > -1}">
        <button type="button" class="dropdown-item btn btn-link" [ngClass]="{'disabled': value.indexOf(item) > -1}"
                (click)="selectItem(item)">{{item.text}}
          <span *ngIf="value.indexOf(item) > -1">(selected)</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="input-group-append">
    <button type="button" class="btn btn-outline-dark" (click)="clearSelection()">Clear</button>
  </div>

  <ng-content select=".input-group-append"></ng-content>
</div>
